<div>
  <h2>Current Work</h2>
</div>

<div class="user-projects first" id="papareo">
  <div class="contents-right">
    <h3>Papa Reo</h3>
    <p class="role">Machine Learning Engineer / Dev Ops</p>
    <ul>
      <li>Machine learning / AI Research</li>
      <li>Dev Ops / ML Ops / API Scaling</li>
    </ul>
    <p>Working with iwi group <a href="https://tehiku.nz/te-reo/korero-maori/6094/te-kaupapa-o-korero-maori">Te Reo Irirangi o Te Hiku o Te Ika </a> from 2019 I led the initial machine learning effort to train models and build an API for the world's first speech recognition system in Māori. We have done so much more since then!</p>
    <p>The contributions of our small lab were recognised when our founder was recognized as one of the <a href="https://time.com/collections/time100-ai-2024/7012841/peter-lucas-jones/" target="_blank">Time100 "most influential people in AI"</a>.</a></p>
  </div>
  <div class="images-left">

    <iframe class="embed-responsive-item" src="https://tehiku.nz/embed/4801" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" allowfullscreen ></iframe>

    <a class="project-link" target="_blank" href="https://papareo.nz">Visit papareo.nz</a>
  </div>
</div>

