<div>
  <h2>Current Projects</h2>
</div>

<div class="user-projects first" id="papareo">
  <div class="contents-right">
    <h3>Papa Reo</h3>
    <p class="role">AI Lead Dev</p>
    <ul>
      <li>Deep learning / machine learning</li>
      <li>Dev ops, Cloud infra</li>
      <li>Tensorflow, Pytorch, Python, Kubernetes 
    </ul> 
    <p>Working with iwi group <a href="https://tehiku.nz/te-reo/korero-maori/6094/te-kaupapa-o-korero-maori">TeHiku.NZ</a> in 2019 I led the machine learning effort to train models and build an API for the world's most accurate automated speech recognition (ASR) system for Te Reo Māori. When presented at language conferences in Oxford and Cambridge senior developers from Mozilla described themselves as "shocked and amazed" at the high accuracy of our model. I am now with Te Hiku full time.</p>
  </div>
  <div class="images-left">
    
    <iframe class="embed-responsive-item" src="https://tehiku.nz/embed/4801" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" allowfullscreen ></iframe>
  
    <a class="project-link" target="_blank" href="https://papareo.nz">Visit papareo.nz</a>
  </div>
</div>

<div class="user-projects" id="together">
  <div class="contents-right">
    <h3>Together Project</h3>
    <p class="role">Co-founder</p>
    <ul>
      <li>Open Source / Community Engagement</li>
      <li>Mobile UX, Flutter JS, Figma, DGraph</li>
    </ul> 
    <p>Together is a project that asks the question - what if we could actually see the network of connections showing who has been acknowledged by who in a community? And what if we could turn that into an app that makes engagement easier and helps people feel appreciated and reciprocated?</p>
    <p>We're building a high fidelity, open source, mobile experience and aim to become the foundation platform whenever people want to build communities based on reciprocity and open exchange. </p>
  </div>
  <div class="images-left">
    
    <iframe class="embed-responsive-item" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" src="https://www.youtube.com/embed/QNj7fTq6x1w" allowfullscreen=""></iframe>
  
    <a class="project-link" target="_blank" href="https://togetherproject.nz">Visit togetherproject.nz</a>

    <a class="project-link" target="_blank" href="https://bit.ly/together_nz">An invitation to join us</a>
  </div>
</div>

<div class="user-projects" id="cashless">
  <div class="contents-right">
    <h3>Cashless Society</h3>
    <p class="role">Co-founder / Source</p>
    <ul>
      <li>Distributed crypto meets mutual credit</li>
      <li>Business Design, Pitching, UX</li> 
      <li>Eth / Solidity, Scuttlebutt, React </li>
    </ul> 
    <p>Cashless is about making money human again - merging crypto primitives with a new way to think about mutual credit. We provide an alternative way to keep track of credit through communities and tools for greater reliability and transparency - allowing communities to scale trust and act as their own bank.</p>
  </div>
  <div class="images-left">
    
    <a href="https://cashless.social" target="_blank"><img class="zoom" src="{{ "/assets/img/cashless.png" | prepend: site.baseurl }}" /></a>
  
    <a class="project-link" target="_blank" href="https://cashless.social">Visit cashless.social</a>
  </div>
</div>



