<div>
  <h2>Earlier Projects</h2>
</div>

  <!-- <div class="user-projects first">
    <div class="user-projects" id="cashless">
      <div class="contents-right">
        <h3>Mutual Credit Services</h3>
        <p class="role">Technical Advisor</p>
        <ul>
          <li>Tech architecture, collaborative design</li>
          <li>Svelte, VueJS, Supabase, Hyperledger, whatever it takes</li>
          <li>Collaborative economics and user experience design</li>
        </ul>
        <p>Mutual Credit Services envision a global Credit Commons underpinning a collaborative economy that has become 'business as usual'. We have a large goal but we're building this one community at a time. </p>
      </div>
      <div class="images-left">

        <a href="https://mutualcredit.services" target="_blank"><img class="zoom" src="{{ "/assets/img/localloop.png" | prepend: site.baseurl }}" /></a>

        <a class="project-link" target="_blank" href="https://www.mutualcredit.services">Visit mutualcredit.services</a>
        <a class="project-link" target="_blank" href="https://www.localloop.network/intro_video/">Watch our video about credit clearing</a>
      </div>
    </div>  -->


    <div class="user-projects first" id="together">
      <div class="contents-right">
        <h3>Together Project</h3>
        <p class="role">Co-founder</p>
        <ul>
          <li>Open Source / Community Engagement</li>
          <li>Mobile UX, Flutter JS, Figma, DGraph</li>
        </ul>
        <p>Together is a project that asks the question - what if we could actually see the network of connections showing who has been acknowledged by who in a community?</p>
        <!-- <p>We're building a high fidelity, open source, mobile experience and aim to become the foundation platform whenever people want to build communities based on reciprocity and open exchange. </p> -->
      </div>
      <div class="images-left">

        <iframe class="embed-responsive-item" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" src="https://www.youtube.com/embed/QNj7fTq6x1w" allowfullscreen=""></iframe>

        <a class="project-link" target="_blank" href="https://togetherproject.nz">Visit togetherproject.nz</a>

        <a class="project-link" target="_blank" href="https://bit.ly/together_nz">An invitation to join us</a>
      </div>
    </div>
  </div>

  <div class="user-projects">
      <div class="contents-right">
        <h3>Resilience App - Mutual Aid World</h3>
        <ul>
          <li>Open source, community engagement</li>
          <li>React, Mobile, Heroku, Firebase</li>
        </ul>
        <p>Thousands of mutual aid groups sprang into existence in March and April 2020. "Mutual Aid World" built software to support such groups. After co-founding with three others I helped organize hundreds of volunteer developers, designers and contributors of all stripes. As well as active tech support we built cryptographically strong contact tracing, a phone support line, and the "resilience app" - which was a react mobile app for organizing delivery of food boxes. In partnership with local groups we helped deliver thousands of food boxes.</p>
      </div>
      <div class="images-left">
        <img alt="Bayesian" class="zoom" src="{{ "/assets/img/resilience_boxes.png" | prepend: site.baseurl }}" />
          <a class="project-link" target="_blank" href="https://mutualaidworld.gitbook.io/docs/local-resilience-app/">View our documentation</a>
          <a class="project-link" target="_blank" href="https://github.com/factn/">Visit our Github</a>
      </div>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-left">

      <a href="https://cashless.social" target="_blank"><img class="zoom" src="{{ "/assets/img/cashless.png" | prepend: site.baseurl }}" /></a>

      <a class="project-link" target="_blank" href="http://web.archive.org/web/20230313224937/https://cashless.social/">Visit cashless.social (Archive)</a>
    </div>
    <div class="contents-right">
      <h3>Cashless Society</h3>
      <p class="role">Co-founder / Source</p>
      <ul>
        <li>Distributed crypto meets mutual credit</li>
        <li>Business Design, Pitching, UX</li>
        <li>Eth / Solidity, Scuttlebutt, React </li>
      </ul>
      <p>Cashless is about making money human again - merging crypto primitives with a new way to think about mutual credit. We provide an alternative way to keep track of credit through communities and tools for greater reliability and transparency - allowing communities to scale trust and act as their own bank.</p>
    </div>
  </div>

  <div class="user-projects">
    <div class="contents-right">
      <h3>Research, development and whitepaper on community resilience</h3>
      <ul>
        <li>Bayesian modeling</li>
        <li>Decentralized messaging</li>
        <li>Community resilience</li>
      </ul>
      <p>Research and development into resilient coordination protocols in distributed, unreliable environments. Simulation of information flows in distributed messaging environments. Bayesian modeling of multi-agent systems in the face of variance in the reliability of actors. Most of this work remains proprietary but the 'realtime fact benchmark' is one of it's public outputs.</p>
    </div>
    <div class="images-left">
      <img alt="Bayesian" class="zoom" src="{{ "/assets/img/network_tree.png" | prepend: site.baseurl }}" />
      <a class="project-link" target="_blank" href="https://factbenchmark.org/">Visit Fact Benchmark</a>
    </div>
</div>


<div class="user-projects">

    <div class="contents-right">
      <h3>Deep PBR</h3>
      <ul>
        <li>Machine Learning</li>
        <li>VR / AR</li>
        <li>Python, Tensorflow, AWS</li>
      </ul>
      <p>Working with the VR pioneers at <a href="http://realityVirtual.co">RealityVirtual</a> I designed, trained and deployed a new machine learning pipeline and API for creating virtual reality assets (displacement maps, normals and the like) from regular SLR photographs.</p>
    </div>
    <div class="images-left">
        <iframe class="embed-responsive-item" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" src="https://www.youtube.com/embed/sKrLMIzn0Ek" allowfullscreen=""></iframe>
        <a class="project-link" target="_blank" href="http://www.realityvirtual.co/deeppbr-info">Visit DeepPBR.io</a>
    </div>

  </div>

  <div class="user-projects">
    <div class="contents-right">
      <h3>Paekākāriki Online</h3>
      <ul>
        <li>Community Engagement</li>
        <li>Web and UX design</li>
        <li>PHP, Custom Wordpress Theme and Plugins</li>
      </ul>
      <p>Working with local community groups I helped coordinate and was the developer for a website to represent the community where I live - Paekākāriki, NZ. This features a services directory, calendar, radio station, forums and information for tourists as well as photo essays, poetry and other content.</p>
      <p>A love letter to the town in which I live, produced in collaboration with my community
      <a class="project-link" target="_blank" href="http://paekakariki.nz/">Visit paekakariki.nz</a>
    </p>
    </div>
    <div class="images-left">
      <a href="http://paekakariki.nz" target="_blank"><img class="zoom" alt="Paeakakariki NZ" class="pae_image" src="{{ "/assets/img/pae_layers.jpg" | prepend: site.baseurl }}" /></a>
    </div>
</div>
