<div>
  <h2>Current Projects</h2>
</div>

<div class="user-projects first" id="papareo">
  <div class="contents-right">
    <h3>Papa Reo</h3>
    <p class="role">AI Lead Dev</p>
    <ul>
      <li>Deep learning / machine learning</li>
      <li>Dev ops, Cloud infra</li>
      <li>Tensorflow, Pytorch, Python, Kubernetes 
    </ul> 
    <p>Working with iwi group <a href="https://tehiku.nz/te-reo/korero-maori/6094/te-kaupapa-o-korero-maori">TeHiku.NZ</a> in 2019 I led the machine learning effort to train models and build an API for the world's most accurate automated speech recognition (ASR) system for Te Reo Māori. When presented at language conferences in Oxford and Cambridge senior developers from Mozilla described themselves as "shocked and amazed" at the high accuracy of our model. I am now with Te Hiku full time.</p>
  </div>
  <div class="images-left">
    
    <iframe class="embed-responsive-item" src="https://tehiku.nz/embed/4801" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" allowfullscreen ></iframe>
  
    <a class="project-link" target="_blank" href="https://papareo.nz">Visit papareo.nz</a>
  </div>
</div>

<div class="user-projects" id="cashless">
  <div class="contents-right">
    <h3>Mutual Credit Services</h3>
    <p class="role">Technical co-founder</p>
    <ul>
      <li>Tech architecture, collaborative design</li>
      <li>Svelte, VueJS, Supabase, Hyperledger, whatever it takes</li>
      <li>Collaborative economics and user experience design</li>
    </ul> 
    <p>Mutual Credit Services envision a global Credit Commons underpinning a collaborative economy that has become 'business as usual'. We have a large goal but we're building this one community at a time. </p>
  </div>
  <div class="images-left">
    
    <a href="https://mutualcredit.services" target="_blank"><img class="zoom" src="{{ "/assets/img/localloop.png" | prepend: site.baseurl }}" /></a>
  
    <a class="project-link" target="_blank" href="https://www.mutualcredit.services">Visit mutualcredit.services</a>
    <a class="project-link" target="_blank" href="https://www.localloop.network/intro_video/">Watch our video about credit clearing</a>
  </div>
</div>


<div class="user-projects" id="together">
  <div class="contents-right">
    <h3>Together Project</h3>
    <p class="role">Co-founder</p>
    <ul>
      <li>Open Source / Community Engagement</li>
      <li>Mobile UX, Flutter JS, Figma, DGraph</li>
    </ul> 
    <p>Together is a project that asks the question - what if we could actually see the network of connections showing who has been acknowledged by who in a community?</p>
    <p>We're building a high fidelity, open source, mobile experience and aim to become the foundation platform whenever people want to build communities based on reciprocity and open exchange. </p>
  </div>
  <div class="images-left">
    
    <iframe class="embed-responsive-item" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" src="https://www.youtube.com/embed/QNj7fTq6x1w" allowfullscreen=""></iframe>
  
    <a class="project-link" target="_blank" href="https://togetherproject.nz">Visit togetherproject.nz</a>

    <a class="project-link" target="_blank" href="https://bit.ly/together_nz">An invitation to join us</a>
  </div>
</div>


